{% load static %} <!---static 폴더 로드 -->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css'%}"> <!--static 폴더의 css 폴더안에 css파일 가져오기-->
    <title>Document</title>
</head>
<body>
    <img src="{% static '/img/ex.png' %}" width="50%"> <!--static 가져오기-->
    <h1>first</h1>
    <a href="/second">to second page</a>
</body>
</html>