{% extends 'base.html' %}

{% block content %}

<h2 class="alert alert-success">{{ post_detail.title }}</h2>

<span class="badge rounded-pill bg-light">{{ post_detail.date }}</span>
<br>
<span class="badge rounded-pill bg-light">{{ post_detail.author.username }}</span>
<p>{{ post_detail.body }}</p>

<br><hr>
<!--댓글 목록-->
{% for comment in post_detail.freecomment_set.all %}
<span class="badge rounded-pill bg-light">{{ comment.date }}</span>
<p>{{ comment.author }} : {{ comment }}</p>
<hr>
{% endfor %}


<!--댓글 입력 공간-->
{% if user.is_authenticated %}
<form method="POST" action="{% url 'new_freecreate' post_detail.id %}">
    {% csrf_token %}
    {{ comment_form }}
    <br>
    <input type="submit" class="btn btn-success btn-icon-split btn-sm" style="height: 50px;width: 200px;" value="댓글 입력">
</form>

{% else %}
<p>댓글을 작성하려면 로그인해야합니다..</p>
{% endif %}

{% endblock %}