{% extends 'base.html' %}  <!--탬플릿 언어 베이스와 연결-->

{% block content %}<!--블록 컨텐트에 아래 내용 넣기-->
<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">홈페이지 입니다</h4>
    <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
    <hr>
    <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
</div>
{% endblock %}